label
{
	font-weight:	bold;
	margin-right:	1em;
	min-width:		7em;
	display:		inline-block;
}

/* specific styling for value editors */
textarea
{
	/* dont wrap texture areas */
	white-space:	nowrap;  
	overflow:		auto;
	width:			100%;
	tab-size:		4;
}


/* every leaf/node element is a div 
gr: not any more, user can override. 
todo: change to a class
*/ 
.Node
{
	--Indent:		0;
	
	margin:			0.05em;
	padding:		0.05em;
	margin-left:	calc(var(--Indent)*0.3em);

	/* ios enable dragging, instead of draggable=true */
	xxx-webkit-user-select: none;
}

.Node[DragOver]
{
	outline:	dashed red 1px !important;
}

.Node[Collapsed]:hover
{
	outline:		1px dashed rgba(0,0,0,0.2);
}
.Node[Selected]
{
	outline:		1px dashed rgba(0,0,1,1.0) !important;
}


.Collapser, 
.Deleter
{
	cursor:			pointer;
	margin-right:	0.4em;
	border:			none;
	background:		rgba(0,0,0,0);
}

.Deleter
{
	xfloat:	right;
}

.Collapser:hover, 
.Deleter:hover
{
	background:		rgba(0,0,0,0.2);
}

/* hide children when collapsed */
.Node[Collapsed=true] *:not(label):not(.Collapser):not(.Deleter)
{
	display:	none;
}

.Node[Collapsed=false] .Collapser:before
{
	content:	"\25BE";	/*hex html code*/
}

.Node[Collapsed=true] .Collapser:before
{
	content:	"\25B8";
}

.Deleter:before
{
	content:	"\274c";	/* X 274c 2327 2612 22a0 */
	/* gr: this symbol is making the button/line big */
	line-height:	1em;
}
