*
{
	--Indent:		0;
	
	margin:		10px;
	padding:	3px;
	margin-left:	calc(var(--Indent)*20px);

	/* ios enable dragging, instead of draggable=true */
	xxx-webkit-user-select: none;
}

*[DragOver]
{
	border-bottom:	dashed red 1px;
	margin-bottom:	-1px;	/* undo border change of size */
}

/* disable pointer events, except on the :before where our error is */
*[Collapsed]
{
	xxpointer-events: none;
}
*[Collapsed]:before
{
	pointer-events: auto;
	cursor:			pointer;
}


/* hide children when collapsed */
*[Collapsed=true] *
{
	display:	none;
}

*[Collapsed=true]:before
{
	content:	"\25BE";	/*hex html code*/
}

*[Collapsed=false]:before
{
	content:	"\25B8";
}
